<?xml version="1.0" encoding="utf-8" ?>
<CompilerConfiguration>
  <Global>
    <DebugOptions>
      <ShaderFlag>Debug</ShaderFlag>      
    </DebugOptions>
    <ReleaseOptions>
      <ShaderFlag>OptimizationLevel3</ShaderFlag>      
    </ReleaseOptions>
  </Global>
  <ShaderFile filename="GpuCode\DecalShadervs.hlsl">
    <ShaderModel>vs_5_0</ShaderModel>
    <EntryPoint>VSMain</EntryPoint>
  </ShaderFile>
  <ShaderFile filename="GpuCode\Terrainvs.hlsl">
    <ShaderModel>vs_5_0</ShaderModel>
    <EntryPoint>VSMain</EntryPoint>
  </ShaderFile>
  <ShaderFile filename="GpuCode\Terrainps.hlsl">
    <ShaderModel>ps_5_0</ShaderModel>
    <EntryPoint>PSMain</EntryPoint>
  </ShaderFile>
</CompilerConfiguration>

